# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# SUPABASE_URL: Optional Supabase instance URL
SUPABASE_URL=

# SUPABASE_ANON_KEY: Optional Supabase Anon API key
SUPABASE_ANON_KEY=

